<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>addbook</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h1>Add Books </h1>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
        <!-- <div class="container">
          <div class="outer">
            <ng-container *ngIf="imageUrl == '' ">
              <img class="avatar"  src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ng-container>
           <ng-container *ngIf="imageUrl != '' ">
            <img class="avatar" [src]="imageUrl" alt="" />
           </ng-container>
              <div class="inner" >
                 <ion-icon name="camera" (click)="takePicture()" class="camera-icon"></ion-icon>
              </div>
           </div>
        </div> -->
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input formControlName="Title" type="type" placeholder="Enter Title"></ion-input>
        </ion-item>
        <!-- <div *ngIf="bookForm.controls['Title'].invalid && bookForm.controls['Title'].touched"
        class="alert alert-danger" color="danger">
        price required*
      </div> -->
        <ion-item>
          <ion-label position="floating">Price</ion-label>
          <ion-input formControlName="Price" type="number" placeholder="Enter Price"></ion-input>
        </ion-item>
        <!-- <div *ngIf="bookForm.controls['price'].invalid && bookForm.controls['price'].touched"
        class="alert alert-danger" color="danger">
        price required*
      </div> -->
        <ion-item>
          <ion-label position="floating">Author </ion-label>
          <ion-input formControlName="Author" type="type" placeholder="Enter Author  Name "></ion-input>
        </ion-item>
        <!-- <div *ngIf="bookForm.controls['Author'].invalid && bookForm.controls['Author'].touched"
        class="alert alert-danger" color="danger">
        price required*
      </div> -->
      <ion-button expand="full" type="submit" >Submit</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
