<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Edit Book</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>First Name</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Last Name</ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="full">Save Changes</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
